// BREAKPOINTS
$xxxs: 320px;
$xxs: 414px;
$xs: 480px;
$s: 768px;
$m: 1024px;
$l: 1366px;
$lg: 1440px;
$xxl: 1600px;

$color-primary: #123257;
$color-primery-700: #022baa;

// background-color
$bg-white: #fff;

// text
$color-body-text: #5a5b5e;
$color-white: #ffffff;
$color-row-table: #f0f3f7;
$color-danger: #ea5455;
$disabled-input: #efefef;

// border
$border-header-table: #d2dae5;
