.layout {
  min-height: 100vh;
  // background-color: rgb(1, 55, 126);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 22px;
  margin-bottom: 20px;
  // color: white;
  font-weight: 600;
}
.option a {
  // color: white;
  cursor: pointer;
}
.cus {
  width: calc(100% - 200px);
}
