@import '../../styles/constants';

.button {
  width: auto;
  box-shadow: none;
  font-weight: 500 !important;
  font-size: 14px !important;
  &__primary {
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: $color-primary !important;
    }
  }
  &__link {
    background-color: none;
    color: $color-white;
    &:hover {
      background-color: none !important;
    }
  }

  &__outline {
    background-color: $color-white;
    color: $color-body-text;
    border: thin solid none;
    &:hover {
      background-color: $color-white !important;
      border: thin solid $color-primary;
      color: $color-primary !important;
    }
  }

  &__lg {
    height: 44px !important;
    padding: 10px 20px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 12px;
  }

  &__md {
    height: 32px !important;
    padding: 8px 16px;
    line-height: 22px;
    font-size: 14px;
    border-radius: 8px;
  }

  &__sm {
    height: 28px !important;
    padding: 4px 8px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
  }

  &__light {
    font-weight: 400;
  }

  &__bold {
    font-weight: 600;
  }
}
